<button mat-raised-button (click)="openDialog()">Adicionar Veiculo</button>
<table mat-table [dataSource]="userList" class="mat-elevation-z8">

  

      <!-- Veiculo Column -->
      <ng-container matColumnDef="Veiculo">
        <th mat-header-cell *matHeaderCellDef> Veiculo </th>
        <td mat-cell *matCellDef="let userList"> {{userList.veiculo}} </td>
      </ng-container>
    
      <!-- Marca Column -->
      <ng-container matColumnDef="Marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let userList"> {{userList.marca}} </td>
      </ng-container>
    
      <!-- Ano Column -->
      <ng-container matColumnDef="Ano">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let userList"> {{userList.ano}} </td>
      </ng-container>
    
      <!-- Descrição Column -->
      <ng-container matColumnDef="Descrição">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let userList"> {{userList.descricao}} </td>
      </ng-container>

      <!-- Cor Column -->
      <ng-container matColumnDef="Cor">
            <th mat-header-cell *matHeaderCellDef> Cor </th>
            <td mat-cell *matCellDef="let userList"> {{userList.cor}} </td>
      </ng-container>

      <!-- Vendido Column -->
      <ng-container matColumnDef="Vendido">
            <th mat-header-cell *matHeaderCellDef> Vendido </th>
            <td mat-cell *matCellDef="let userList"> {{userList.vendido}} </td>
      </ng-container>

      <!-- Data de Criação Column -->
      <ng-container matColumnDef="Data de Criação">
            <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
            <td mat-cell *matCellDef="let userList"> {{userList.created}} </td>
      </ng-container>

      <!-- Data de Atualização Column -->
      <ng-container matColumnDef="Data de Atualização">
            <th mat-header-cell *matHeaderCellDef> Data de Atualização </th>
            <td mat-cell *matCellDef="let userList"> {{userList.updated}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
